开始学习时间序列分析

1.datetime模块

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 7, 17, 13, 12, 21, 128105)

In [5]:
[now.year,now.month,now.day]

[2019, 7, 17]

In [6]:
from datetime import timedelta
timet = now - timedelta(10)   #默认是天为单位
timet

datetime.datetime(2019, 7, 7, 13, 12, 21, 128105)

2.时间和字符串转换

In [7]:
stamp = datetime(2019,1,1)
str(stamp)

'2019-01-01 00:00:00'

In [12]:
stamp.strftime('%F')

'2019-01-01'

3.子集构造，切片索引

In [5]:
import numpy as np
import pandas as pd
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('2019/7/17',periods=1000))
longer_ts

2019-07-17    0.517228
2019-07-18   -0.169367
2019-07-19    0.738851
2019-07-20   -1.043335
2019-07-21   -0.146443
2019-07-22   -0.661780
2019-07-23    2.038766
2019-07-24   -0.435444
2019-07-25    1.005914
2019-07-26   -2.125206
2019-07-27    0.261365
2019-07-28    0.566962
2019-07-29   -0.149045
2019-07-30    0.681081
2019-07-31   -0.115862
2019-08-01    0.084791
2019-08-02    0.348366
2019-08-03   -0.178789
2019-08-04    0.079962
2019-08-05    1.747302
2019-08-06    1.765156
2019-08-07    0.724134
2019-08-08   -0.854503
2019-08-09    0.676255
2019-08-10   -0.114080
2019-08-11   -1.726786
2019-08-12    1.919995
2019-08-13   -0.286358
2019-08-14   -1.546512
2019-08-15    0.300845
                ...
2022-03-13   -2.127731
2022-03-14   -0.031929
2022-03-15    0.311186
2022-03-16   -1.070624
2022-03-17    1.292688
2022-03-18    0.301954
2022-03-19    0.556250
2022-03-20   -1.166374
2022-03-21    2.111527
2022-03-22   -1.472433
2022-03-23    0.901883
2022-03-24   -2.157147
2022-03-25   -0.701013
2022-03-26   -1.099936
2022-03-27   -0.272268
2022-03-28    1.690246
2022-03-29    0.116685
2022-03-30   -0.274363
2022-03-31   -0.600777
2022-04-01   -0.092042
2022-04-02   -0.103972
2022-04-03    0.562819
2022-04-04    0.467238
2022-04-05   -1.459733
2022-04-06    1.301610
2022-04-07    1.537283
2022-04-08   -0.414283
2022-04-09   -1.173929
2022-04-10   -0.471449
2022-04-11    0.549397
Freq: D, Length: 1000, dtype: float64

In [4]:
longer_ts['2019-7-22']   #这里是视图，修改会改变原始数据

0.7117215802975986

4.生成时间序列pd.date_range(freq='频率参数')

5.利用DataFarme.shift(偏移量，freq='频率参数')时间序列数据进行偏移

6.重采样以及频率转换

In [7]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01   -0.252517
2000-01-02   -1.196455
2000-01-03   -0.062933
2000-01-04    2.456321
2000-01-05    0.721342
2000-01-06    0.456028
2000-01-07   -0.725325
2000-01-08   -1.477181
2000-01-09   -3.013609
2000-01-10   -0.679049
2000-01-11    0.003572
2000-01-12   -0.353901
2000-01-13   -0.055267
2000-01-14   -2.078883
2000-01-15   -0.648515
2000-01-16    0.692964
2000-01-17    0.742192
2000-01-18    0.464645
2000-01-19    0.794793
2000-01-20   -0.987256
2000-01-21   -0.401330
2000-01-22   -0.221729
2000-01-23   -0.566248
2000-01-24   -0.723641
2000-01-25   -1.068883
2000-01-26   -1.659035
2000-01-27   -0.233952
2000-01-28    0.222986
2000-01-29   -1.737283
2000-01-30    1.139306
                ...
2000-03-11    0.787874
2000-03-12    0.821238
2000-03-13   -0.627816
2000-03-14   -0.281033
2000-03-15   -0.193071
2000-03-16   -1.220225
2000-03-17   -1.104858
2000-03-18    0.493552
2000-03-19   -0.202902
2000-03-20   -1.391768
2000-03-21    0.398869
2000-03-22   -0.171770
2000-03-23    0.609053
2000-03-24    0.148195
2000-03-25   -0.133895
2000-03-26    0.112540
2000-03-27   -0.340921
2000-03-28   -0.189705
2000-03-29    0.513847
2000-03-30    0.016949
2000-03-31    1.035628
2000-04-01    0.970830
2000-04-02    0.200265
2000-04-03   -0.925483
2000-04-04   -2.031050
2000-04-05   -0.017824
2000-04-06    1.316506
2000-04-07   -0.208786
2000-04-08   -0.455777
2000-04-09    0.075983
Freq: D, Length: 100, dtype: float64

In [9]:
ts.resample('M').mean()

2000-01-31   -0.296101
2000-02-29    0.120318
2000-03-31   -0.275749
2000-04-30   -0.119482
Freq: M, dtype: float64

In [10]:
ts.resample('M',how='ohlc')

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  """Entry point for launching an IPython kernel.

                open      high       low     close
2000-01-31 -0.252517  2.456321 -3.013609  1.269716
2000-02-29 -0.632404  2.089265 -2.499560  1.489028
2000-03-31  0.180412  1.035628 -1.768402  1.035628
2000-04-30  0.970830  1.316506 -2.031050  0.075983