In [1]:
import pandas as pd

1.Series为以为带索引（可以自己设置）的数组

In [3]:
a = pd.Series(data=[1,2,3],index=['a','b','c'],dtype=float)
print(a)

a    1.0
b    2.0
c    3.0
dtype: float64

In [4]:
print('a' in a)  #也可以看成字典

True

2.pd.isnull和pd.notnull返回布尔型数据，判断是否为缺失值

3.DataFrame为表格型数据结构，每列可以是不同类型的值

In [5]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

4.可以用frame['state']访问，也可以frame.state

In [6]:
print(frame['state'])

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [7]:
print(frame.state)

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

5.传入字典外层键作为列，内层的键作为索引

In [8]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
b = pd.DataFrame(pop)
print(b)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

6.只返回值的话是二维数组

In [10]:
print(frame.values)

[['Ohio' 2000 1.5]
 ['Ohio' 2001 1.7]
 ['Ohio' 2002 3.6]
 ['Nevada' 2001 2.4]
 ['Nevada' 2002 2.9]
 ['Nevada' 2003 3.2]]

7.drop为删除某一列或行，axis=0删除行，axis=1删除列，注意使用inplace=True会原地删除表格

8.loc为轴标签索引，iloc为整数索引

In [15]:
print(b.loc[:,'Ohio'])  #感觉和numpy的索引差不多，必须指定行和列索引

2000    1.5
2001    1.7
2002    3.6
Name: Ohio, dtype: float64

9.数据相加

In [16]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df3 = df1 + df2
print(df3)    #因为没有相同的行或列标签

    A   B
0 NaN NaN
1 NaN NaN

10.也有广播的功能

In [18]:
import numpy as np
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)
series = frame.iloc[0]
print(series)
a = frame - series
print(a)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64
          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

也可以传入axis=0或axis=1参数来指定

11.pd.describe是很常用的一个方法

In [19]:
c = pd.DataFrame(np.random.random((5,5)))
print(c)

          0         1         2         3         4
0  0.249418  0.017943  0.905811  0.213513  0.884745
1  0.833319  0.954421  0.027166  0.972145  0.352200
2  0.178426  0.274980  0.616145  0.970932  0.662730
3  0.888926  0.844842  0.284189  0.015024  0.334510
4  0.717385  0.964950  0.798564  0.352480  0.703409

In [22]:
c.describe()

              0         1         2         3         4
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.573495  0.611427  0.526375  0.504819  0.587519
std    0.334968  0.436614  0.365370  0.442612  0.238128
min    0.178426  0.017943  0.027166  0.015024  0.334510
25%    0.249418  0.274980  0.284189  0.213513  0.352200
50%    0.717385  0.844842  0.616145  0.352480  0.662730
75%    0.833319  0.954421  0.798564  0.970932  0.703409
max    0.888926  0.964950  0.905811  0.972145  0.884745

12.pd.corr()计算相关系数和pd.cov()计算协方差也是比较常用的

13

In [38]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],'Qu2': [2, 3, 1, 2, 3],'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [37]:
result = data.apply(pd.value_counts)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0